@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --background-color: rgb(32, 35, 41);
  --primary-color: rgb(255, 71, 101);
  --first-color: rgb(240, 240, 240);
  --dark-color: rgb(53, 53, 54);
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.home-title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 4rem;
  margin-top: 1rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.select-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.select-items select {
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: (var(--first-color));
  background-image: linear-gradient(to top, #f9f9f9, var(--first-color) 33%);
  outline: none;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.pagination-buttons button {
  padding: 0.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  width: 30rem;
  border-radius: 1.5rem;
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.3s;
  background-color: transparent;
}

.card:hover {
  border: 1px solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card img {
  width: 100%;
  vertical-align: top;
  transition: all 0.3s;
}

.card:hover img {
  transform: scale(1.1);
}

.card-content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--first-color);
}

.card-content h3 {
  color: var(--primary-color);
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--first-color);
  background-color: var(--primary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.detail-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1rem;
}

.detail-page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.detail-page-item-image img {
  width: 20rem;
  border-radius: 20rem;
}

.detail-page-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--dark-color);
  width: 100%;
  border-radius: 2rem;
  gap: 2rem;
}

.detail-page-item-info {
  display: flex;
  flex-direction: column;
  color: var(--first-color);
  font-weight: 600;
  gap: 1rem;
}

.detail-page-item-info h1 {
  color: var(--primary-color);
}

.detail-page-item-episodes {
  display: flex;
  flex-direction: column;
  color: var(--first-color);
  font-weight: 600;
  gap: 1rem;
}

.detail-page-item-episodes h3 {
  color: var(--primary-color);
}
